@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
img {
  max-width: 100%;
}
.header {
  background: #f2f3f6;
}
.button,
.menu-link {
  text-decoration: none;
  color: #111238;
  border: none;
}
.menu {
  padding: 0;
  list-style: none;
  margin: 0;
}
.menu-item:not(:last-child) {
  margin-right: 20px;
}
.current-page {
  color: #1a75e8;
}
.button-login {
  padding: 15px;
  margin-right: 35px;
}
.button-register {
  background: #1a75e8;
  color: #fff;
  border-radius: 5px;
  padding: 15px 30px;
}
.header-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 53px;
}
.header-text {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 140%;
}
.hero {
  padding-top: 75px;
  padding-bottom: 55px;
}
.hero-left {
  margin-top: 45px;
}
.input-group {
  background: #ffffff;
  border: 1px solid rgba(209, 209, 209, 0.1);
  box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
  border-radius: 5px;
}
.input {
  flex-grow: 1;
  outline: none;
  padding-left: 25px;
  border: none;
  font-size: 16px;
  line-height: 19px;
}
.input::placeholder {
  color: #b2b2b2;
}
.button-search {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px;
}
.button-text {
  margin-left: 10px;
  font-size: 16px;
  line-height: 19px;
}
.tags-cloud {
  margin-top: 25px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 17px;
  color: #b2b2b2;
}
.tag {
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  cursor: pointer;
}
.section {
  padding-top: 70px;
  padding-bottom: 80px;
}
.section-title {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.card {
  padding: 35px 55px;
  background-color: #f2f3f6;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}
.card-icon {
  fill: #111238;
  transition: fill 0.2s;
}
.card-text {
  margin-top: 15px;
  font-size: 16px;
  line-height: 19px;
}
.card:hover {
  background-color: #1a75e8;
  color: #fff;
  transition: background-color 0.2s, color 0.2s;
}
.card:hover .card-icon {
  fill: #fff;
  transition: fill 0.2s;
}
.offers {
  padding: 70px;
}
.offer {
  padding: 30px;
  border: 1px solid #c5c9d5;
  border-radius: 10px;
}
.offer:not(:last-child) {
  margin-bottom: 20px;
}
.offer-img {
  width: 100px;
  height: 100px;
  border: 1px solid #f2f3f6;
  border-radius: 50%;
  background: #fff url(../img/company.png) center center no-repeat;
  background-size: contain;
}
.offer-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}
.offer-decription {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.8;
}
.offer-salary {
  padding: 10px 25px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  background: #1a75e8;
  border-radius: 5px;
  color: #fff;
}
.offer-tags {
  margin: 0;
}
.more,
.more:visited {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #1a75e8;
  margin-right: 25px;
}
.offer-btn {
  margin-top: 40px;
}
.subscribe-section {
  background-color: #f2f3f6;
}
.subscribe-wrapper {
  max-width: 460px;
  margin: auto;
  text-align: center;
}
.subscribe-title {
  margin: 20px 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
}
.subscribe-subtitle {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 140%;
}
.footer {
  padding: 70px 0 100px;
}
.footer-text,
.footer-copyright {
  max-width: 180px;
  font-size: 12px;
  line-height: 140%;
  color: #b2b2b2;
}
.footer-text {
  margin: 10px 0;
}
.footer-menu {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 5px;
}
.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}
.footer-list-item {
  margin-top: 10px;
}
.footer-link {
  color: #111238;
  text-decoration: none;
}
.footer-logo {
  margin-top: -6px;
}
@media screen and (max-width: 1100px) {
  .offer {
    flex-direction: column;
  }
  .offer-heading {
    margin-top: 10px;
  }
  .offer-title {
    text-align: center;
    margin-bottom: 10px;
  }
  .offer-salary {
    margin: 10px auto;
  }
  .offer-tags {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 576px) {
  .offer-tags {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .tag,
  .tag-text {
    margin: 10px auto 0;
    width: fit-content;
  }
  .tags-cloud {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .button-subscribtion {
    min-width: 75px;
  }
  .input {
    overflow-y: auto;
  }
  .footer,
  .footer-text,
  .footer-copyright {
    margin: 5px auto;
    text-align: center;
  }
  .footer-info {
    display: flex;
    flex-direction: column-reverse;
  }
  .section-title {
    text-align: center;
  }
  .more {
    text-align: center;
    margin: 15px auto 0;
  }
}
#mobile-menu,
.burger-menu {
  display: none;
}
.desktop-menu {
  position: relative;
}
@media screen and (max-width: 768px) {
  #mobile-menu {
    display: flex;
    position: relative;
  }
  .page-navigation,
  #log-n-register {
    display: none;
  }
  .burger-menu {
    margin: 0;
    padding: 0;
    display: flex;
    padding: 10px;
    cursor: pointer;
  }
  .menu-wrapper {
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    width: 100%;
    height: 100vh;
    background-color: #f2f3f6;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    padding-top: 20%;
    overflow: hidden;
  }
  .show {
    transform: translateY(0);
    transition: transform 0.3s;
  }
  .close-menu {
    padding: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .nav-mobile-list {
    flex-direction: column;
  }
  .nav-mobile-list ul.menu li.menu-item {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .log-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .button-login {
    margin: 0;
  }
}
